<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Обновляем пользователя</title>
</head>
<body>
<div>
  <form th:method="POST" th:action="@{/users/update/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="firstName/">Новый пользовательский имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName/">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Name error</div>
    <br/>
    <br/>
    <label for="lastname/">Новая пользовательская фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName/">
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Name error</div>
    <br/>
    <br/>
    <label for="age/">Новый пользовательский возраст: </label>
    <input type="number" th:field="*{age}" id="age/">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >Name error</div>
    <br/>
    <br/>
    <label for="username/">Новый пользовательский username: </label>
    <input type="text" th:field="*{username}" id="username/">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Name error</div>
    <br/>
    <label for="password/">Новый пользовательский password: </label>
        <input type="password" th:field="*{password}" id="password/">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Name error</div>
        <br/>
    <label for="roles/">Новая пользовательский роль: </label>
    <td>
      <th:block th:each="role:${person.getRoles()}">
        <p th:text="${role.toString()}"></p>
      </th:block>
      <tr>
        <td>Роли</td>
        <br/>
        <td>
          <label>Админ<input type="checkbox" name="roles" value=1 checked></label>
          <label>Пользователь<input type="checkbox" name="roles" value=2></label>
        </td>
      </tr>
    </td>
    <br/>
    <input type="submit" value="Обновить!">
  </form>
</div>
</body>
</html>