<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Обновляем пользователя</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--  <form th:method="POST" th:action="@{/user/update/{id}(id=${person.getId()})}" th:object="${person}">-->
<!--    <label for="firstname">Ваше новое имя: </label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstname">-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Name error</div>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <label for="lastname">Ваша новая фамилия: </label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName">-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Name error</div>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <label for="age">Ваш новый возраст: </label>-->
<!--    <input type="number" th:field="*{age}" id="age/">-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >Name error</div>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <label for="username">Ваш новый username: </label>-->
<!--    <input type="text" th:field="*{username}" id="username/">-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Name error</div>-->
<!--    <br/>-->
<!--    <label for="email">Ваш новый password: </label>-->
<!--    <input type="password" th:field="*{password}" id="password/">-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Name error</div>-->
<!--    <p th:text="${person.getRoles()}">VALUE</p>-->
<!--    <form th:action="@{/user/{id}/edit(id=${person.getId()})}">-->
<!--    <br/>-->
<!--    <input type="submit" value="Обновить!">-->
<!--  </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->